@font-face {
  font-family: "iconfont"; /* Project id 4562438 */
  src: url('iconfont.woff2?t=1717423127198') format('woff2'),
       url('iconfont.woff?t=1717423127198') format('woff'),
       url('iconfont.ttf?t=1717423127198') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-policebadge:before {
  content: "\ec5a";
}

.icon-huomiao:before {
  content: "\e689";
}

.icon-shimingrenzheng:before {
  content: "\e65c";
}

.icon-dashang:before {
  content: "\e691";
}

.icon-transaction:before {
  content: "\ebff";
}

.icon-xunhuan:before {
  content: "\ee18";
}

.icon-qumu:before {
  content: "\e606";
}

.icon-tuichubeifen:before {
  content: "\e602";
}

.icon-jia:before {
  content: "\e601";
}

.icon-tianjiawenjianjia:before {
  content: "\e6db";
}

.icon-erji:before {
  content: "\e607";
}

.icon-bofang:before {
  content: "\ead8";
}

.icon-arrow:before {
  content: "\e624";
}

.icon-xuanze:before {
  content: "\e62d";
}

.icon-public-rightarrow:before {
  content: "\e609";
}

.icon--left-arrow:before {
  content: "\e60c";
}

.icon-find:before {
  content: "\e639";
}

.icon-wangyiyun:before {
  content: "\e600";
}

